aiobotocore
aiofiles
aiohttp
azure-cognitiveservices-speech
fastapi
fastembed
huggingface-hu
litellm
llama_index
llama-index-vector-stores-lancedb
numpy
openai0
pydantic
pydub1
pymongo
python-dateuti
python-dotenv
redis
requests
tiktoken
torchaudio
twilio
uvicorn
websocketsonnxruntime
scipy
semantic-router
sentence-transformers
uvloop
tokenizers
optimum[onnxruntime]
